@font-face {
    font-family: 'Montserrat';
    src: url("./Fonts/Montserrat-VariableFont_wght.ttf");
}


body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}

.wrapper {
    display: grid;
    grid: 100vh / 20vw 80vw;
}

nav {
    background-color: #c7ae9f;
    grid-area: 1 / 1 / 3 / 2;
    padding: 15px;
    display: grid;
    grid-template-rows: 10vh 8vh auto;
    grid-template-columns: auto;

    input {
        height: 25px;
        border-radius: 10px;
    }
}

main {
    background-color: #ebe3de;
    grid-area: 1 / 2 / 3 / 3;
}

nav > span {
    font-size: 30px;
    text-align: center;
    font-weight: 300;
}

nav img {
    width: 15%;
}

nav a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    gap: 10px;
}

main {
    padding: 30px;
}

#taskboard {
    background-color: lightgray;
    min-height: 100%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 15px;
    box-sizing: border-box;
}

.task {
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-bottom: solid;
    padding-bottom: 15px;

    *:not(input):not(label):not(.inputGroup):not(button):not(form):not(dialog):not(span):not(ul):not(li)::before {
        font-weight: bold;
        content: var(--pseudo);
        margin-right: 10px;
    }

    .taskHeader {
        display: flex;
        gap: 20px;

        * {
            flex: 1;
        }

        .title {
            font-weight: 600;
                font-style: italic;
            font-size: 20px;
        }

    }

    .checklist,
    .notes {
        display: flex;
        gap: 15px; 
        flex-wrap: wrap;

        .inputGroup {
            display: flex;
            align-items: center;
            gap: 5px;
        }
    }

    button:not(.save) {
    background-color: transparent;
    border: none;
    background-repeat: no-repeat;
    max-width: 20px;
    cursor: pointer;
    width: 20px;
    height: 20px;
        
    }

    button.addCheck {
        width: 20px;
    }

    label {
        text-align: center;
    }
}

form {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input.priority {
    width: 30px;
    margin-right: 10px;
    
}

button.addCheck {
    background-image: url(./Icons/addCheck.svg);
}

button.addNote {
    background-image: url(./Icons/addNote.svg);
}

button.remove {
    background-image: url(./Icons/close.svg);
}

ul.hidden {
    display: none;
}

.liFlex {
    display: flex;
}

button.save {

    height: 30px;
}

button.save::before {
    content: 'Save';
}